<div>

    <div class="col-md-4 panel panel-default" style="padding: 20px;">
        <input class="form-control" placeholder="BOT Name:" type="text" name="name" ng-model="botName">

        <br> Select the Bot Type

        <select class="form-control" name="" id="" ng-model="botType">
            <option ng-repeat="option in optionList" value="{{option}}">{{option}}</option>
        </select>
        <br>
        <input type="button" class="btn btn-default col-md-4 col-md-offset-4" value="Create" ng-click="create()">

    </div>
    <div class="col-md-8 panel panel-default">

        <h4>Bot List</h4>

        <div class="activebotitem row" ng-repeat="bot in activeBotList" ng-click="selectBot(bot)" style="padding: 10px;">
            <h4 class="col-md-12">{{bot.BotName}}</h4>

            <div class="col-md-6"></div>
            <div class="col-md-6">{{bot.BotType}}</div>
        </div>

    </div>








</div>